.create-button{
    top:10px;
    right: 80px;
    position: absolute;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}
.create-button:hover {
    background-color: #45a049;
}

.create-button:active{
    background-color: #3e8e41;
}